<head>
  <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>i HUB</title>
</head>


  <body>
<header>

  <div class="navbar">
  <%= render partial:"header" %>
  </div>
</header>

<div class="contents" >
  <div class="left-content">
  <%= render partial:"profile" %>
  </div>


  <div class="center-content">
    <div class="twigbox">
      <%= form_tag('/twigs/new', method: :get) do %>
      <input placeholder="What's idea?" type="text" name="name">
      <input type="submit" value="sent">
      <% end %>
    </div>

      <div class="twig">
        <% @twigtweets.each do |twigtweet| %>
          <%= render partial:"twig", locals: { twigtweet: twigtweet} %>
        <% end %>
    </div>
</body>
