<div class="contents row">
  <%= form_tag('/twigs', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input placeholder="Nickname" type="text" name="user_id">
    <textarea cols="30" name="twigtext" placeholder="text" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>