  <body>
<header class="header">
  <div class="navbar">
  <%= render partial:"users/header" %>
  </div>
</header>

<div class="contents" >
  <div class="left-content">
  <%= render partial:"users/profile" %>
  </div>

  <div class="center-content">
    <div class="twigbox">
      <%= form_tag('/twigs/new', method: :get) do %>
      <input placeholder="What's idea?" type="text" name="name">
      <input type="submit" value="sent">
      <% end %>
    </div>

        <% @twigs.each do |twig| %>
          <%= render partial: "users/twig", locals: { twigtweet: twig } %>
        <% end %>
    </div>
  </div>
</body>