<header>

  <div class="navbar">
  <%= render partial:"twigs/header" %>
  </div>
</header>

  <div class="left-content">
  <%= render partial:"twigs/profile" %>
  </div>

  <div class="center-content">
    <div class="twigbox">
      <%= form_tag('/twigs/new', method: :get) do %>
      <input placeholder="What's idea?" type="text" name="name">
      <input type="submit" value="sent">
      <% end %>
    </div>

        <div class="twig">
        <% @twigs.each do |twig| %>
          <%= render partial: "twigs/twig", locals: { twigtweet: twig } %>
        <% end %>
</div>
