body {
  background-color: white;
  font-size: 14px;
  color: black;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}


header {
  margin-top: 10px;
}

.heading {
  width: 960px;
  margin: 0 auto;
}

.navbar {
  height: 20px;
  width: 930px;
  background-color: red;
  margin: 0 auto;
   padding: 15px;
}

.contents {
  background-color: white;
  width: 960px;
  margin: 10px auto;
}

.left-content {
  height: 370px;
  width: 200px;
  background-color: white;
  float: left;
  padding: 10px;
}

.profile {
  height: 150px;
  width: 150px;
  background-color: gray;
  float: right;
  padding: 10px;
}
.center-content {
  height: 370px;
  width: 600px;
  background-color: blue;
  margin: 10px auto;
}

.twigbox {
  width: 580px;
  background-color: white;
  padding: 10px;
}

.twig-right {
  width: 300px;
  background-color: white;
  padding: 10px;
}

.twig-left {
  width: 100px;
  background-color: red;
  padding: 10px;
}

.right-content {
  height: 370px;
  width: 200px;
  background-color: white;
  float: right;
}

footer {
  background-color: gray;
  height:50px;
}

.ckearfix:after {
  content: "";
  clear: both;
  display: block;
}

.title {
  font-family: fantasy;
  text-align: center;
}

.heading-sentence {
  font-size: 18px;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


ul li {
  margin: 0;
  float: left;
  padding-right: 10px;
}

td {
  margin: 0;
  padding-left: 10px;
  line-height: 30px;
}


.background-image {
  height: 100px;
  width: 100px;
}

.profile-image {
  height: 30px;
  width: 30px;
}

.profile-name{
  font-size: 16px;
  float: right;
}

footer {
  text-align: center;
}